:root {
  --body_background: #1c1f24;
  --object_background: #282c34;
  --body_color: white;
  --main-color: #ec1839;
  --shadow-color: black;
}

[data-theme='dark'] {
  --object_background: #ebe9e9;
  --body_background: #d8d8d8;
  --body_color: black;
  --main-color: #0368ff;
  --shadow-color: white;
}

* {
  transition: all 0.3s ease-in-out;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  transition: all 0s ease-in-out !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
